################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FsXmlMigrator.Domain.Cs/bin
/FsXmlMigrator.Domain.Cs/obj
/FsXmlMigrator.Lib.Fs/bin
/FsXmlMigrator.Lib.Fs/obj
/FsXmlMigrator.App.Cs/obj
/FsXmlMigrator.App.Cs/bin
/FsXmlMigrator.App.Fs/bin
/FsXmlMigrator.App.Fs/obj
/.vs/FsXmlMigrator/v15/.suo
/.vs/FsXmlMigrator/v15/Server/sqlite3
